.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 10px;
}

.sidebar-icon {
  font-size: 1.25rem;
  min-width: 24px;
  text-align: center;
}

.sidebar-text {
  margin-left: 12px;
  font-size: 1.1rem;
}

.nav-pills li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#filterContainer {
  display: none;
}

#filterContainer.show {
  display: block;
}

.form-label-inline {
  min-width: 120px;
  /* chỉnh theo độ dài label bạn muốn */
  margin-right: 10px;
}